* text=auto eol=lf
*.js text
*.json text
*.md text
*.txt text
*.png binary
LICENSE text
.gitignore text
.gitattributes text
highlight-tool.min.js linguist-generated=true
bookmarklet.txt linguist-generated=true
docs/highlight-tool.min.js linguist-generated=true
